{{- range .Values.serviceMonitors }}
---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: {{ .name }}
  labels:
    release: prometheus
spec:
  staticConfigs:
    - labels:
        job: external
      targets:
        - {{ .host }}:{{ .port }}
  {{- if .customPath }}
  metricsPath: {{ .customPath | quote }}
  {{- end }}

  {{- if .secure }}
  scheme: HTTPS
  basicAuth:
    username:
      name: mySecretName
      key: username
    password:
      name: mySecretName
      key: password
  {{ else }}
  scheme: http
  {{- end }}
{{- end }}
